/* app css stylesheet */

/* some animation for banners and modals */
@keyframes slideUp {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Modal content */
/* for both details page and create page */
.modal-content {
  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 6% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 4px;
}

/* Form layout */
.modal-content form {
  box-sizing: border-box; 
}

/* Input fields */
.modal-content input {
  width: 100%; /*Full width */
  padding: 7px 0 4px 4px; /* Add padding to input fields */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content label {
  padding: 0 12px 12px 0;
  display: inline-block;
}

.modal-content img {
  padding: 7px;
  border: 1px solid #ccc;
  max-width: 160px;
  max-height: 160px;
}

.edit-btns {
  float: right;
  margin-top: -25px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

img {
  max-width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

/* taking up all the available space along the main axis and pushing navbar-right to far right */
.navbar-left {
  flex: 1;
}

.navbar-right {
  flex: 0 0 auto;
}

/* cross-pages buttons */
button {
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
}
button:hover {
  background-color: #ddd;
}

/* styling for the back button in edit page */
.backButton {
  font-style: italic;
  font-size: small;
  margin-right: 9px;
  padding: 4px 8px 4px 6px;
  border: 1px solid #888;
  width: 32px;
}
.backButton:hover {
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.411);
}

.pointer {
  cursor: pointer;
}