<nav class="navbar">
    <div class="navbar-left">
      <!-- A back button only in edit page -->
      <a ng-if="main.showBackButton()" ng-click="main.goBack()" class="backButton pointer">&lt;</a> 
      <span ng-click="main.redirectHome()" class="pointer">User Management</span>
    </div>
    <div class="navbar-right" ng-hide="main.hideCreateButton()">
      <!-- does not get displayed on create page -->
      <button ng-click="main.redirectToCreate()" class="pointer">Create User</button>
    </div>
  </nav>
  